commands:
  1_create_pre_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: true
  2_try_bundle_install:
    command: ./10_bundle_install.sh
    cwd: /opt/elasticbeanstalk/hooks/appdeploy/pre
    ignoreErrors: true
  3_try_gem_installs:
    command: ./01_install_gems.sh
    cwd: /opt/elasticbeanstalk/hooks/appdeploy/pre
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_install_gems.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      gem install nokogiri -v '1.7.0.1'
      gem install http_parser.rb -v '0.6.0'
      gem install json -v '1.8.6'
